<form #form="ngForm" (ngSubmit)="submitContact()" *ngIf="active">


  <!-- Grâce à l'identification #form plus haut, je peux connaitre ci-dessus létat de validation de mon formulaire-->
  {{form.valid}}

<div class="form-group" 
[class.has-error]="fullname.invalid && fullname.touched">

  <input type="text" class="form-control" name="fullname"
    required placeholder="Saisissez votre nom complet..."
    [(ngModel)]="nouveauContact.fullname" #fullname="ngModel">
    
    <span class="help-block"
    *ngIf="fullname.invalid && fullname.touched">Vous devez saisir votre nom complet</span>


</div>

<div class="form-group" 
[class.has-error]="fullname.invalid && fullname.touched">

  <input type="text" class="form-control" name="username"
    required placeholder="Saisissez votre nom d'utilsateur..."
    [(ngModel)]="nouveauContact.username" #username="ngModel">

    <span class="help-block"
    *ngIf="fullname.invalid && fullname.username">Vous devez saisir votre nom d'utilisateur</span>

</div>

<button type="submit" class="btn btn-block btn-primary" 
[disabled]="form.invalid">
  Ajouter le contact
</button>

</form>